# vscode files
.vscode/**
.vscode-test/**

# source code
src/**

# github files
.github/**

.eslintrc.json
.gitignore
.yarnrc
pnpm-lock.yaml
pnpm-workspace.yaml
esbuild.js
**/tsconfig.json
**/*.ts
docs
renovate.json
vscode-monitor-pro.code-workspace
assets/*.png
!assets/icon.png
go-backend/
!go-backend/bin/*

# other md files
*.md
!README.md
!CHANGELOG.md
