.vscode/**
.vscode-test/**
out/**
src/**
.github/**
.eslintrc.json
.gitignore
.yarnrc
pnpm-lock.yaml
pnpm-workspace.yaml
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
docs
renovate.json
vscode-monitor-pro.code-workspace
